.form-content {
    display: grid;
    grid-template-columns: repeat( 13, 1fr );
    border: solid 5px #088190;
    grid-template-areas:
        "l l s s s s s s s s s s b"
        "l l d d d d d d d d d d b";
    justify-content: space-evenly;
}

.label {
    grid-area: l;
    align-self: center;
    justify-self: center;
}

.src {
    grid-area: s;
    margin: .25rem;
}

.description {
    grid-area: d;
    margin: .25rem;
}

.submit {
    grid-area: b;
    align-self: center;
    justify-self: center;
}
