.App {
  text-align: center;
  background-color: #ECEFF0; 
}

.App-header {
  background-color: #11204D;
  padding: 1rem;
  color: #ECEFF0;
  margin-bottom: 1em;
  grid-column: 1 / -1;
}

.App-title {
  font-size: 1.5em;
}

img {
  height: 175px;
  width: 175px;
}
